extends layout

block title
  title= title
block scripts
  script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
  link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
  script(type='text/javascript', src='/bower_components/moment/min/moment-with-locales.min.js')
  script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  script.
    $(function () {
      var $startDate = $('#start_date');
      var $endDate = $('#end_date');
      $startDate.datetimepicker({
        daysOfWeekDisabled: [0, 6],
        locale: 'es',
        format: !{JSON.stringify(showableDateFormat)}
      });
      $endDate.datetimepicker({
        useCurrent: false,
        defaultDate: moment().add(4, 'days'),
        daysOfWeekDisabled: [0, 6],
        locale: 'es',
        format: !{JSON.stringify(showableDateFormat)}
      });
      $startDate.on("dp.change", function (e) {
        $endDate.data("DateTimePicker").minDate(e.date);
      });
      $endDate.on("dp.change", function (e) {
        $startDate.data("DateTimePicker").maxDate(e.date);
      });
      var $calendarsDetails = $('#calendars-details');
      $calendarsDetails.click(function(e) {
        const target =  $(e.currentTarget);
        const previuosHref = target.attr('href');
        const $input = $('input:checked[name=calendars]');
        let calendarsIds = [];
        $input.each(function () {
          var $this = $(this);
          if ($this.is(":checked")) {
            calendarsIds.push($this.attr("id"));
          }
        });
        calendarsIds = JSON.stringify(calendarsIds);
        const startDate = $startDate.data("DateTimePicker").date().format(!{JSON.stringify(dateFormat)});
        const endDate = $endDate.data("DateTimePicker").date().format(!{JSON.stringify(dateFormat)});
        const href = previuosHref + "?" + "calendarsIds=" + calendarsIds + "&startDate=" + startDate + "&endDate=" + endDate;
        target.attr('href', href);
      });
    });
block content
  h1 Pick up your calendars.
  br
  .container
    section.css-table
      section.two-column(style="display: inline-block")
        section.cell
          each val in calendarIds
            section.css-table
              section.two-column(style="display: inline-block")
                section.cell
                  .text
                    input(type='checkbox', name='calendars', id= val, value= val)
                section.cell(style="color: #555555")
                  .text
                    h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= val
        section.cell
          section.two-column(style="display: inline-block")
            section.cell
              div#start_date.text.form-group.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          section.cell
              div#end_date.text.form-group.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
  .text-center(style="margin: 30px;")
    a.btn.btn-danger(href='/calendars-details' id='calendars-details')
      span.fa.fa-calendar
      |&nbsp;Get Events