extends layout

block title
    title= title
block scripts
    script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
    script(type='text/javascript', src='/javascripts/jquery-outside-events-plugin.js')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script.
        var cardsArray = JSON.parse('!{JSON.stringify(cards)}');
        var jiraMetaData = JSON.parse('!{JSON.stringify(jiraMeta)}');

        var whoShowsTrelloInfo = undefined;
        $(function () {
            var cards = $("*[id$='_text']")
            cards.click(function (e) {
                const target = $(e.currentTarget);
                target.bind('clickoutside', function (e) {
                    var target = $(e.target);
                    var clicked = $(e.currentTarget);
                    var id = target.attr("id");
                    if (id === undefined) {
                        $("#info").hide();
                        $("#meta").hide();
                        whoShowsTrelloInfo = undefined;
                    } else {
                        if (whoShowsTrelloInfo !== id && !id.endsWith("_text")) {
                            $("#info").hide();
                            $("#meta").hide();
                            whoShowsTrelloInfo = undefined;
                        }
                    }
                });
                const id = target.attr("id").replace("_text", "");
                var cardInfo = $.grep(cardsArray, function (e) {
                    return e.id === id;
                });
                var info = cardInfo[0];
                $("#_info_description").text(info.desc);
                var labels = info.labels;
                var labels_ = [];
                labels.forEach(function(element) {
                    labels_.push(element.name);
                });
                $("#_info_labels").text(labels_.join());
                $("#_meta").text("\n\nJira Metadata\n" + JSON.stringify(jiraMetaData.issuetypes, null, 2));
                whoShowsTrelloInfo = id;
                $("#info").show();
                $("#meta").show();
            });
        });
block content
    h1 Pick up your trello cards.
    br
    form(action='/jira/ticket', method='post')
        .container
            section.css-table
                section.three-column
                    section.cell
                        each card in cards
                            section.css-table
                                section.two-column
                                    if processSeveral
                                        section.cell(style="display: inline-block;")
                                            .text
                                                input(type='checkbox', name='cards', id= card.id, value= card.name)
                                        section.cell
                                            .text
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= card.name
                                    unless processSeveral
                                        section.cell(style="display: block;")
                                            .text
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px", id= card.id + "_text")= card.name
                    section#info.cell(style="display: none; background-color: #f4f5e4;")
                        section.css-table
                            section.two-column
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        h4 Description:
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        div#_info_description
                            section.two-column
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        h4 Labels:
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        div#_info_labels
                    section#meta.cell
                        .text
                            div#_meta
                    unless processSeveral
                        .text-center(style="margin: 30px;")
                            button.btn.btn-danger.btn-lg(type='submit')
                                span.icon-size-small.icon-jira-alt
                                | &nbsp;Push to Jira
                    section.cell
                        .text
                            div#_jira


            if processSeveral
                .text-center(style="margin: 30px;")
                    button.btn.btn-danger.btn-lg(type='submit')
                        span.icon-size-small.icon-jira-alt
                        | &nbsp;Push to Jira