extends layout

block title
    title= title
block scripts
    script(type='text/javascript', src='/javascripts/jquery-3.2.1.js')
    script(type='text/javascript', src='/javascripts/jquery-outside-events-plugin.js')
    script(type='text/javascript', src='/javascripts/jquery.ddslick.js')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script(type='text/javascript', src='/bower_components/moment/moment.js')
    link(rel='stylesheet', type='text/css', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/autocomplete.css')
    script.
        var cardsStr = '!{JSON.stringify(cards)}'.replace(/\n/g, "<br>");
        var cardsArray = JSON.parse(cardsStr);
        var jiraMeta = JSON.parse('!{JSON.stringify(jiraMeta)}');
        var issueTypesCombo = JSON.parse('!{JSON.stringify(issueTypesCombo)}');
        var priorityCombo = JSON.parse('!{JSON.stringify(priorityCombo)}');
        var whoShowsTrelloInfo = undefined;

        Array.prototype.pushAll = function (arguments) {
            for (let i = 0; i < arguments.length; i++) {
                this.push(arguments[i]);
            }
        }

        function isChildOf(element, parentId) {
            return (element.parents("#" + parentId).length);
        }

        $(function () {

            $("#parent").autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.get("/jira/tickets", {q: request.term})
                        .done(function (data) {
                            let issues = [{id: "-1", value: "Select one..."}];
                            issues.pushAll(data.map(function (issue) {
                                return {id: issue.key, value: issue.key + " - " + issue.summary};
                            }));
                            response(issues);
                        });
                },
                select: function (event, ui) {

                },
                // optional (if other layers overlap autocomplete list)
                open: function (event, ui) {
                    $(".ui-autocomplete").css("z-index", 1000);
                }
            }).on("click", function () {
                $(this).select();
            });
            ;

            $("#issueTypesSelect").ddslick({
                data: issueTypesCombo,
                width: 200,
                selectText: "Issue type...",
                imagePosition: "left",
                onSelected: function (selected) {
                    $("#issue_type_hidden").val(selected.selectedData.value);
                }
            });

            $("#prioritySelect").ddslick({
                data: priorityCombo,
                width: 200,
                selectText: "Priority...",
                imagePosition: "left",
                onSelected: function (selected) {
                    $("#priority_hidden").val(selected.selectedData.value);
                }
            });

            var cards = $("*[id$='_text']")
            cards.click(function (e) {
                var cards = $("*[id$='_text']")
                cards.each(function (index, element) {
                    var $element = $(element);
                    $element.css("background-color", "#FFFFFF");
                    $element.css("font-weight", "");
                    var parent = $element.parents("section.css-table")[0];
                    $(parent).css("background-color", "#FFFFFF");
                });
                const currentTarget = $(e.currentTarget);
                currentTarget.css("background-color", "#F7F7F7");
                currentTarget.bind('clickoutside', function (e) {
                    var target = $(e.target);
                    var clicked = $(e.currentTarget);
                    var id = target.attr("id");
                    if (id !== undefined && (whoShowsTrelloInfo !== id
                            && !id.endsWith("_text")
                            && id !== "info"
                            && !isChildOf(target, "info")
                            && id !== "meta"
                            && !isChildOf(target, "meta"))) {
                        $("#info").hide();
                        $("#meta").hide();
                        $(target).css("background-color", "#FFFFFF");
                        $(target).css("font-weight", "");
                        whoShowsTrelloInfo = undefined;
                    }
                });
                const id = currentTarget.attr("id").replace("_text", "");
                var cardInfo = $.grep(cardsArray, function (e) {
                    return e.id === id;
                });
                var info = cardInfo[0];
                $("#card").val(info.name);
                $("#cardId").val(id);
                var comments = [];
                let creationDate;
                let lastActivityDate;
                info.actions.forEach(function (action) {
                    if (action.type === "commentCard") {
                        comments.push(" * *" + action.memberCreator.username + " | {color:#707070}_" + action.date.split("T")[0] + "_{color}:* " + action.data.text);
                        var updateCommentDate = new Date(action.date);
                        if (lastActivityDate === undefined) {
                            lastActivityDate = updateCommentDate;
                        } else {
                            if (updateCommentDate > lastActivityDate) {
                                lastActivityDate = updateCommentDate;
                            }
                        }
                    } else if (action.type === "createCard") {
                        var updateCreationDate = new Date(action.date);
                        if (creationDate === undefined) {
                            creationDate = updateCreationDate;
                        } else {
                            if (updateCreationDate < creationDate) {
                                creationDate = updateCreationDate;
                            }
                        }
                    } else if (action.type === "updateCard") {
                        var updateLastActivityDate = new Date(action.date);
                        if (lastActivityDate === undefined) {
                            lastActivityDate = updateLastActivityDate;
                        } else {
                            if (updateLastActivityDate > lastActivityDate) {
                                lastActivityDate = updateLastActivityDate;
                            }
                        }
                    }
                });
                let dateLast = moment(lastActivityDate);
                let dateCreated = moment(creationDate);
                let timeSpent = dateLast.diff(dateCreated, 'hours');
                if (timeSpent === 0) {
                    timeSpent = dateLast.diff(dateCreated, 'minutes');
                    if (timeSpent === 0) {
                        timeSpent = "1 Minuto";
                    } else {
                        timeSpent = timeSpent + " Minutos";
                    }
                } else {
                    timeSpent = timeSpent + " Horas";
                }
                $("#created").val(creationDate.toISOString());
                $("#lastActivity").val(lastActivityDate.toISOString());
                $("#_info_description").html(
                    (info.desc !== undefined && info.desc !== null ? "h2. <strong>Descripción:</strong><br>" +
                        "<br>" +
                        info.desc + "<br><br>" : "") +
                    (comments.length > 0 ? "h2. <strong>Comentarios:</strong><br>" +
                        "<br>" +
                        comments.join("<br>") + "<br><br>" : "") +
                    (info.due !== undefined && info.due !== null ? "h2. <strong>Fecha de compromiso:</strong><br>" +
                        "<br>" +
                        info.due.split("T")[0] + "<br><br>" : "") +
                    "h2. <strong>Migrado desde:</strong><br>" +
                    "<br>" +
                    info.shortUrl + "<br><br>" +
                    "h2. <strong>Creado:</strong><br>" +
                    "<br>" +
                    creationDate.toISOString() + "<br><br>" +
                    "h2. <strong>Duración:</strong><br>" +
                    "<br>" +
                    timeSpent + "<br>");
                $("#_info_description_hidden").val((info.desc !== undefined && info.desc !== null ? "h2. *Descripción:*\n" +
                    "\n" +
                    info.desc + "\n\n" : "") +
                    (comments.length > 0 ? "h2. *Comentarios:*\n" +
                        "\n" +
                        comments.join("\n").replace(/<br>/g, "\n") + "\n\n" : "") +
                    (info.due !== undefined && info.due !== null ? "h2. *Fecha de compromiso:*\n" +
                        "\n" +
                        info.due.split("T")[0] + "\n\n" : "") +
                    "h2. *Migrado desde:*\n" +
                    "\n" +
                    info.shortUrl + "\n\n" +
                    "h2. *Creado:*\n" +
                    "\n" +
                    creationDate.toISOString() + "\n\n" +
                    "h2. *Duración:*\n" +
                    "\n" +
                    timeSpent);
                var labels = info.labels;
                var labels_ = [];
                labels.forEach(function (element) {
                    labels_.push(element.name.replace(/[ /|]/g, "-"));
                });
                $("#_info_labels").text(labels_.join());
                $("#_info_labels_hidden").val(labels_.join());
                whoShowsTrelloInfo = id;
                $("#info").show();
                $("#meta").show();
                var parent = currentTarget.parents("section.css-table")[0];
                $(parent).css("background-color", "#F7F7F7");
                $(parent).css("width", "100%");
                currentTarget.css("font-weight", "bold");
            });
        });
block content
    h1 Pick up your trello cards.
    br
    form(action='/jira/trello/tickets', method='post')
        .container
            section.css-table
                section.three-column
                    section.cell
                        input(type='hidden', name= 'card', id= 'card')
                        input(type='hidden', name= 'cardId', id= 'cardId')
                        input(type='hidden', name= 'created', id= 'created')
                        input(type='hidden', name= 'lastActivity', id= 'lastActivity')
                        input(type='hidden', name= 'user', id= 'user', value= user)
                        if delegated
                            input(type='hidden', name= 'delegated', id= 'delegated', value='true')
                        each card in cards
                            section.css-table(style="width=100%;")
                                if processSeveral
                                    section.two-column
                                unless processSeveral
                                    section
                                    if processSeveral
                                        section.cell(style="display: inline-block;")
                                            .text
                                                input(type='checkbox', name='cards', id= card.id, value= card.name)
                                        section.cell
                                            div(style="width=90%;")
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px")= card.name
                                                input(type='hidden', name= 'card_' + card.id, id= card.id, value= card.name)
                                    unless processSeveral
                                        section.cell(style="display: block;")
                                            div(style="width=90%;")
                                                h3(style="margin-bottom: 0; margin-top: 0; margin-left: 10px", id= card.id + "_text")= card.name
                    section#info.cell(style="display: none; background-color: #F7F7F7;")
                        section.css-table
                            section.two-column
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        h4 Description:
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        div#_info_description
                                        input#_info_description_hidden(type='hidden', name='description')
                            section.two-column
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        h4 Labels:
                                section.cell(style="vertical-align: middle;")
                                    .text
                                        div#_info_labels
                                        input#_info_labels_hidden(type='hidden', name='labels')
                    section#meta.cell
                        div#_meta
                            h4= jiraProject.key + " [" + jiraProject.id + "]"
                            input#jira_project_info_hidden(type='hidden', value=jiraProject.id, name='project_id')
                            div#issueTypesSelect
                            input#issue_type_hidden(type='hidden', name='issue_type')
                            div#prioritySelect
                            input#priority_hidden(type='hidden', name='priority')
                            label(for="parent") Parent:&nbsp;
                            div.ui-widget
                                input#parent(name='parent')
                            label(for="spent") Dedicación diaria:&nbsp;
                            input#spent(name='diarySpentInHours')
                            unless processSeveral
                                .text-center(style="margin: 30px;")
                            button.btn.btn-danger.btn-lg(type='submit')
                                span.icon-size-small.icon-jira-alt
                                | &nbsp;Push to Jira

            if processSeveral
                .text-center(style="margin: 30px;")
                    button.btn.btn-danger.btn-lg(type='submit')
                        span.icon-size-small.icon-jira-alt
                        | &nbsp;Push to Jira